.your-todos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 50px;

  background: -webkit-linear-gradient(#f4524d, #5543ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rem-tasks {
  border-radius: 0%;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.rem-tasks-span {
  margin-left: 2px;
  font-size: 15px;
}

.todos-wrapper {
  justify-content: space-evenly;
}
