<div class="container">
  <h1 class="text-center mb-3 main-title">My Todo List</h1>

  <div
    *ngIf="addAlert"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>Success!</strong> Todo was added successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    *ngIf="deleteAlert"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong>Deleted!</strong> Todo was removed successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
  <!-- whenever a "todoAdd" event is fired, run "addTodo()" -->

  <div class="your-todos">
    <h4>Your Todos</h4>
    <button type="button" class="btn btn-secondary rem-tasks">
      Remaining Tasks
      <span class="badge bg-danger rem-tasks-span">{{
        todoService.remainingTodos()
      }}</span>
    </button>
  </div>

  <hr style="background-color: black; border: 0 none; height: 3px" />

  <div *ngIf="todoService.todos.length === 0; else elseBlock">
    No Todos to display
  </div>
  <ng-template #elseBlock>
    <div class="container">
      <div class="row todos-wrapper">
        <div *ngFor="let todo of todoService.todos; index as i" @fade>
          <app-todo-item
            [todo]="todo"
            [i]="i"
            (todoDelete)="deleteTodo($event)"
            (todoCheckbox)="toggleTodo($event)"
          ></app-todo-item>
        </div>
      </div>
    </div>
  </ng-template>
</div>
