<div class="container my-3">
  <div class="jumbotron">
    <h1 class="display-4">About this Angular app</h1>
    <p class="lead">
      This is a simple todo list app made by me to have hands-on practice of working in Angular & Node.js/Express.js with PostgreSQL database in backend.
    </p>
    <hr class="my-4" />
    <p>
      It uses features such as Routing, Services, Animations, Making HTTP Requests, Observables.
      The Express.js backend uses PostgreSQL database to store information through the use of REST APIs.
      You can add, delete or update an exisitng todo by using these APIs.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>
